@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


body, html {
    height: 100%;
    margin: 0;
    background-color: #B3A4A7;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-align: center;
  
  }
  a {
    text-decoration: none;
}
a:hover {
    color: rgb(255, 255, 255);
}
  .navbar-color {
      background-color: #736A6C;
  }
  #homepage{
      background-color: #736A6C;
      color: rgb(197, 195, 195);
      text-align: center;
      font-size: 15px;
      padding: 5px;
      text-transform: uppercase;
  }
  
  footer  {
      background-color: #736A6C;
      position:fixed ;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
  }