body{
background-color:rgb(204, 165, 231);
font-size: 14px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:darkblue;
}

h1{
border-bottom-style: solid;    
color: red;
font-size: 16px;
text-align: center;
text-transform: uppercase;
}

a:link{
color: red;
}
a:hover{
color:blue;
}

img{
border: 1px;
border-color: red;
padding: 10px;
width: 250px;
opacity: 0.5;
}
